@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
#__next {
  background: rgba(21, 22, 30);
  font-family:
      Greycliff CF,
      var(--mantine-font-family);
}

/* globals.css */
html, body, #__next, main {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(21, 22, 30);
}

main {
  display: flex;
  flex-direction: column;
  height: 98%;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.scroll-area {
  height: 90%;
  overflow: auto;
}

/* Add this to your global CSS file */
@keyframes slide-in {
  0% {
    width: 90px;
  }
  100% {
    width: 500px;
  }
}

@keyframes slide-out {
  0% {
    width: 500px;
  }
  100% {
    width: 90px;
  }
}

.slide-in {
  animation: slide-in 0.3s forwards;
}

.slide-out {
  animation: slide-out 0.3s forwards;
}

.featured-course-card {
  position: relative;
  overflow: hidden;
}

.featured-course-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/card-bg.svg');
  background-size: auto 100%;  /* Adjust size to fit height */
  background-position: right center;  /* Position it to the right */
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 0;
}

.featured-course-card > * {
  position: relative;
  z-index: 1;
}
