@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

main {
  height: calc(100vh - 70px); /* Adjust based on the actual height of your header */
  display: flex;
  flex-direction: row;
}

/* Add these styles to your CSS file */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  color: #f5a623;
  margin-bottom: 16px;
}

.markdown-content p {
  color: #ffffff;
  margin-bottom: 16px;
}

.markdown-content code {
  background-color: #2f2f2f;
  color: #f5a623;
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-content pre {
  background-color: #2f2f2f;
  color: #ffffff;
  padding: 16px;
  border-radius: 4px;
  overflow-x: auto;
}

